* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 1024px;
    height: 1024px;
    top: -5616px;
    left: 869px;
    background: rgba(255, 255, 255, 1);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

header {
    width: 1024px;
    height: 38px;
    background: rgba(28, 209, 176, 1);
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
}

h1 {
    width: 1024px;
    height: 101px;
    top: 38px;
    border: 1px solid rgba(0, 0, 0, 1);
    background-color: rgba(0, 102, 159, 1); 
    display: flex; 
    align-items: center; 
    text-align: left;
    box-shadow: 0px 10px 7px 0px rgba(0, 0, 0, 0.25);
    font-family: Roboto;
    font-size: 40px;
    font-weight: 400;
    line-height: 47px;
    letter-spacing: 0em;
}



main {
    flex: 1;
    width: 960px;
    height: 530px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    width: 1024px;
    height: 51px;
    top: 972px;
    background: rgba(0, 102, 159, 1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: rgba(255, 249, 249, 1);
    display: flex; 
    align-items: center; 
    text-align: left;
}

h2 {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    
}

section {
    width: 300.0000305175781px;
    height: 529px;
    display: inline-block;
    margin-right: 20px;
    text-align: center;
    position: relative;
}

.fondo-top {
    width: 300px;
    height: 194px;
    top: 292px;
    left: 32px;
    border-radius: 16px 16px 0px 0px;
}

.perfil {
    width: 120px;
    height: 120px;
    margin-top: -90px;
    margin-left: 10px;
    }
    


p {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 20px;

}

.p-footer {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
}

a {
    width: 128.7841033935547px;
    height: 48.523075103759766px;
    top: 754px;
    left: 447px;
    background: rgba(0, 102, 159, 1);
    color :rgba(255, 255, 255, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: 75px;
}


h3 {
    width: 122px;
    height: 35px;
    top: 559px;
    left: 121px;
    font-family: Roboto;
    font-size: 30px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: center;
    color:black;
    margin-top: 20px;
    white-space: nowrap;
    margin-left: 75px;

}


.harley {
    margin-left: 50px;
}

.icon-hearth {
    display: flex;
    width: 30px;
    height: 26.249643325805664px;
    top: 3px;
    position: absolute;
    margin-left: 15px;
    margin-top: 15px;
}